.main {
  width: 100%;
  padding: 5vw 10vw 15vw 10vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #171d28;

  h2 {
    color: #fff;
    font-size: 3vw;
    padding: 0 10vw;
    text-align: center;
    line-height: 4vw;
    margin-bottom: 1vw;
    span {
      font-size: 3vw;
      color: #7456e4;
    }
  }

  h3 {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 1.2vw;
    padding: 0 20vw;
    margin-bottom: 3vw;
  }

  .tabs {
    width: 100%;
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;

      li {
        margin: 0 1vw;
        color: #fff;
        background-color: #171d28;
        border: 0.15vw solid #7456e4;
        padding: 0.2vw 1vw;
        border-radius: 0.2vw;
        cursor: pointer;
        &.active,
        &:hover {
          color: #fff;
          background-color: #7456e4;
        }
      }
    }
  }
}

.password-generator,
.sitemap {
  display: grid;
  place-items: center;
  width: 100%;
  .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 7vw 0vw #171d2842;
    margin-top: -10vw;
    border-radius: 0.5vw;
    .generate {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 5vw;
      span {
        font-size: 0.9vw;
        margin-right: 0.5vw;
        width: auto;
      }
      p,
      input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1vw 1.5vw;
        min-width: 25vw;
        border: 0.1vw solid #171d287c;
        outline: none;
        appearance: none;
        border-radius: 0.3vw 0 0 0.3vw;
        font-size: 0.9vw;
        color: #171d28bd;

        svg {
          width: 1.5vw;
          cursor: pointer;
          &:hover {
            color: #7456e4;
          }
          &.copied {
            color: #17b14a;
          }
        }
      }
      button {
        padding: 1vw 2vw;
        border: 0.1vw solid #7456e4;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        appearance: none;
        border-radius: 0 0.3vw 0.3vw 0;
        font-size: 0.9vw;
        font-weight: 600;
        color: #fff;
        background-color: #7456e4;
        cursor: pointer;
        span {
          display: grid;
          place-items: center;
          margin: 0 0.3vw;

          svg {
            width: 1vw;
            animation: run 1s infinite;
          }
        }
      }
    }
  }
}

.results {
  width: 100%;
  padding: 5vw 10vw 15vw 10vw;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .container {
    width: 80%;
    border: 0.15vw solid #171d281f;
    border-radius: 0.5vw;
    padding: 2vw;

    h3 {
      margin-bottom: 2vw;
      font-size: 1.2vw;
      color: #7456e4;
      display: flex;
      align-items: center;
      justify-content: space-between;
      svg {
        width: 1.5vw;
        margin-left: 1vw;
        cursor: pointer;
        &:hover {
          color: #7456e4;
        }
        &.copied {
          color: #17b14a;
        }
      }
    }

    textarea {
      width: 100%;
      min-height: 50vw;
      height: auto;
      padding: 1vw;
      appearance: none;
      border: 0.15vw solid #171d281f;
      border-radius: 0.5vw;
    }
  }
}
