<div class="main">
  <h2>
    Check your site's <span>Perfomance</span> and <span>other metrics</span>.
  </h2>
  <h3>Enter your domain name . . .</h3>
</div>

<div class="check">
  <div class="field">
    <div class="domain_input">
      <input
        type="text"
        #domain
        name="domain"
        id="domain"
        placeholder="{{ placeHolder }}"
        required
        (keydown)="onKeyPress($event)"
        autocomplete="on"
      />

      <button (click)="runInsights(domain.value)">
        @if(runAnalysis){
        <span>Fetching</span>
        }@else{
        <span>Get Insights</span>
        } @if (runAnalysis) {
        <span
          ><svg viewBox="0 0 24 24">
            <defs>
              <linearGradient
                id="mingcuteLoadingFill0"
                x1="50%"
                x2="50%"
                y1="5.271%"
                y2="91.793%"
              >
                <stop offset="0%" stop-color="currentColor" />
                <stop
                  offset="100%"
                  stop-color="currentColor"
                  stop-opacity="0.55"
                />
              </linearGradient>
              <linearGradient
                id="mingcuteLoadingFill1"
                x1="50%"
                x2="50%"
                y1="15.24%"
                y2="87.15%"
              >
                <stop offset="0%" stop-color="currentColor" stop-opacity="0" />
                <stop
                  offset="100%"
                  stop-color="currentColor"
                  stop-opacity="0.55"
                />
              </linearGradient>
            </defs>
            <g fill="none">
              <path
                d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
              />
              <path
                fill="url(#mingcuteLoadingFill0)"
                d="M8.749.021a1.5 1.5 0 0 1 .497 2.958A7.502 7.502 0 0 0 3 10.375a7.5 7.5 0 0 0 7.5 7.5v3c-5.799 0-10.5-4.7-10.5-10.5C0 5.23 3.726.865 8.749.021"
                transform="translate(1.5 1.625)"
              />
              <path
                fill="url(#mingcuteLoadingFill1)"
                d="M15.392 2.673a1.5 1.5 0 0 1 2.119-.115A10.475 10.475 0 0 1 21 10.375c0 5.8-4.701 10.5-10.5 10.5v-3a7.5 7.5 0 0 0 5.007-13.084a1.5 1.5 0 0 1-.115-2.118"
                transform="translate(1.5 1.625)"
              />
            </g>
          </svg>
        </span>
        }
      </button>
    </div>
  </div>
</div>

@if(results){
<div class="results">
  <div class="site_details">
    <div class="cover">
      <div
        class="desktop_view"
        [style.backgroundImage]="setBackground(results.screenshots[1])"
      ></div>
    </div>

    <div class="cover">
      <div
        class="mobile_view"
        [style.backgroundImage]="setBackground(results.screenshots[0])"
      ></div>
    </div>

    <div class="site_info">
      <h3 class="report_title">Latest Performance Report</h3>
      <h3 class="report_domain">Site: {{ results.domain }}</h3>
      <h3 class="report_date">Generated on: {{ results.checkTime }}</h3>
      <div class="report_score">
        <h3 class="score">
          Score:
          <span [style.color]="getColor(results.overalScore)">{{
            roundValue(results.overalScore)
          }}</span>
        </h3>
        <h3 class="grade">
          Grade:
          <span [style.color]="getColor(results.overalScore)">{{
            results.grade
          }}</span>
        </h3>
      </div>
    </div>
  </div>

  <div class="tabs">
    <ul>
      <li
        (click)="activeTab = 'mobile'"
        [class.active]="activeTab === 'mobile'"
      >
        Mobile
      </li>
      <li
        (click)="activeTab = 'desktop'"
        [class.active]="activeTab === 'desktop'"
      >
        Desktop
      </li>
    </ul>
  </div>

  <div class="visualized">
    <div class="percentages">
      <div class="progress-div">
        <div class="progress-circle">
          <div
            class="progress-circle__value"
            [style]="
              getProgressStyle(
                roundValue(results.results[activeTab]['performance']['score'])
              )
            "
          ></div>
          <div class="cover">
            <div
              class="progress-circle__text"
              [style.color]="
                getColor(
                  roundValue(results.results[activeTab]['performance']['score'])
                )
              "
            >
              {{
                roundValue(results.results[activeTab]["performance"]["score"])
              }}
            </div>
          </div>
        </div>
        <div class="progress-title">
          <span class="title">{{
            results.results[activeTab]["performance"]["title"]
          }}</span>
        </div>
      </div>
      <div class="progress-div">
        <div class="progress-circle">
          <div
            class="progress-circle__value"
            [style]="
              getProgressStyle(
                roundValue(results.results[activeTab]['accessibility']['score'])
              )
            "
          ></div>
          <div class="cover">
            <div
              class="progress-circle__text"
              [style.color]="
                getColor(
                  roundValue(
                    results.results[activeTab]['accessibility']['score']
                  )
                )
              "
            >
              {{
                roundValue(results.results[activeTab]["accessibility"]["score"])
              }}
            </div>
          </div>
        </div>
        <div class="progress-title">
          <span class="title">{{
            results.results[activeTab]["accessibility"]["title"]
          }}</span>
        </div>
      </div>
      <div class="progress-div">
        <div class="progress-circle">
          <div
            class="progress-circle__value"
            [style]="
              getProgressStyle(
                roundValue(
                  results.results[activeTab]['best-practices']['score']
                )
              )
            "
          ></div>
          <div class="cover">
            <div
              class="progress-circle__text"
              [style.color]="
                getColor(
                  roundValue(
                    results.results[activeTab]['best-practices']['score']
                  )
                )
              "
            >
              {{
                roundValue(
                  results.results[activeTab]["best-practices"]["score"]
                )
              }}
            </div>
          </div>
        </div>
        <div class="progress-title">
          <span class="title">{{
            results.results[activeTab]["best-practices"]["title"]
          }}</span>
        </div>
      </div>
      <div class="progress-div">
        <div class="progress-circle">
          <div
            class="progress-circle__value"
            [style]="
              getProgressStyle(
                roundValue(results.results[activeTab]['seo']['score'])
              )
            "
          ></div>
          <div class="cover">
            <div
              class="progress-circle__text"
              [style.color]="
                getColor(roundValue(results.results[activeTab]['seo']['score']))
              "
            >
              {{ roundValue(results.results[activeTab]["seo"]["score"]) }}
            </div>
          </div>
        </div>
        <div class="progress-title">
          <span class="title">{{
            results.results[activeTab]["seo"]["title"]
          }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="metrics">
    <ul>
      <li
        [style]="getBorderColor(results.audits[activeTab].Performance[0].score)"
      >
        <span class="full_name">
          <span class="bullet"></span> First Contentul Paint ( FCP )</span
        >
        <p class="description">
          First Contentful Paint marks the time at which the first text or image
          is painted.
          <a
            href="https://developer.chrome.com/docs/lighthouse/performance/first-contentful-paint/"
            target="_blank"
            >Learn More</a
          >
        </p>
        <p>
          <Span
            class="value"
            [style.color]="
              getColor(results.audits[activeTab].Performance[0].score)
            "
            >{{ results.audits[activeTab].Performance[0].displayValue }}</Span
          >
        </p>
      </li>
      <li
        [style]="getBorderColor(results.audits[activeTab].Performance[1].score)"
      >
        <span class="full_name"> Largest Contentul Paint ( LCP )</span>
        <p class="description">
          Largest Contentful Paint marks the time at which the largest text or
          image is painted.
          <a
            href="https://developer.chrome.com/docs/lighthouse/performance/lighthouse-largest-contentful-paint/"
            target="_blank"
            >Learn More</a
          >
        </p>
        <p>
          <Span
            class="value"
            [style.color]="
              getColor(results.audits[activeTab].Performance[1].score)
            "
            >{{ results.audits[activeTab].Performance[1].displayValue }}</Span
          >
        </p>
      </li>
      <li
        [style]="getBorderColor(results.audits[activeTab].Performance[3].score)"
      >
        <span class="full_name"> Cumulative Layout Shift ( CLS )</span>
        <p class="description">
          Cumulative Layout Shift measures the movement of visible elements
          within the viewport.
          <a href="https://web.dev/articles/cls" target="_blank">Learn More</a>
        </p>
        <p>
          <Span
            class="value"
            [style.color]="
              getColor(results.audits[activeTab].Performance[3].score)
            "
            >{{ results.audits[activeTab].Performance[3].displayValue }}</Span
          >
        </p>
      </li>
      <li
        [style]="getBorderColor(results.audits[activeTab].Performance[4].score)"
      >
        <span class="full_name"> Speed Index ( SI )</span>
        <p class="description">
          Speed Index shows how quickly the contents of a page are visibly
          populated.<a
            href="https://developer.chrome.com/docs/lighthouse/performance/speed-index/"
            target="_blank"
            >Learn More</a
          >
        </p>
        <p>
          <Span
            class="value"
            [style.color]="
              getColor(results.audits[activeTab].Performance[4].score)
            "
            >{{ results.audits[activeTab].Performance[4].displayValue }}</Span
          >
        </p>
      </li>
      <li
        [style]="getBorderColor(results.audits[activeTab].Performance[2].score)"
      >
        <span class="full_name"> Total Blocking Time ( TBT )</span>
        <p class="description">
          Sum of all time periods between FCP and TTI, focusing on blocking events over 50ms.
          <a
            href="https://developer.chrome.com/docs/lighthouse/performance/lighthouse-total-blocking-time/"
            target="_blank"
            >Learn More</a
          >
        </p>
        <p>
          <Span
            class="value"
            [style.color]="
              getColor(results.audits[activeTab].Performance[2].score)
            "
            >{{ results.audits[activeTab].Performance[2].displayValue }}</Span
          >
        </p>
      </li>
      <li
        [style]="getBorderColor(results.audits[activeTab].Performance[5].score)"
      >
        <span class="full_name"> Time to Interactive ( TTI ) </span>
        <p class="description">
          Time to Interactive is the amount of time it takes for the page to
          become fully interactive.
          <a
            href="https://developer.chrome.com/docs/lighthouse/performance/interactive/"
            target="_blank"
            >Learn More</a
          >
        </p>
        <p>
          <Span
            class="value"
            [style.color]="
              getColor(results.audits[activeTab].Performance[5].score)
            "
            >{{ results.audits[activeTab].Performance[5].displayValue }}</Span
          >
        </p>
      </li>
    </ul>
  </div>

  <div class="audits">
    <div class="tabs">
      <ul>
        <li
          (click)="activeMetric = 'Performance'"
          [class.active]="activeMetric === 'Performance'"
        >
          Performance
        </li>
        <li
          (click)="activeMetric = 'Accessibility'"
          [class.active]="activeMetric === 'Accessibility'"
        >
          Accessibility
        </li>
        <li
          (click)="activeMetric = 'Best Practices'"
          [class.active]="activeMetric === 'Best Practices'"
        >
          Best Practices
        </li>
        <li
          (click)="activeMetric = 'SEO'"
          [class.active]="activeMetric === 'SEO'"
        >
          SEO
        </li>
      </ul>
    </div>
    <div class="main_audits">
      @for(item of results.audits[activeTab][activeMetric]; track item.id){
      @if(scorevalues.includes(item.scoreDisplayMode) && item.score < 1 && item.id != 'mainthread-work-breakdown'){
      <div class="audit">
        <div class="main_audit">
          <p class="title">
            <span class="bullet" [style.color]="getColor(item.score * 100)">
              &bull;
            </span>
            <strong>{{ item.title }} </strong>
          </p>
          <p class="description" [innerHTML]="item.description | safeHtml">
          </p> 
        </div>
        @if(item.details.items.length > 0){
        <br />
        <p class="resources">
          {{ item.details.items.length }}
          @if(item.details.items.length > 1 ){ Resources } @else { Resouce }
          found: &nbsp;
          <span (click)="toggleResources(item.id)"
            >@if(activeResources.includes(item.id)){
              <svg viewBox="0 0 24 24">
                <path  d="M8.12 14.71L12 10.83l3.88 3.88a.996.996 0 1 0 1.41-1.41L12.7 8.71a.996.996 0 0 0-1.41 0L6.7 13.3a.996.996 0 0 0 0 1.41c.39.38 1.03.39 1.42 0"/>
              </svg>
            }@else{
              <svg viewBox="0 0 24 24">
                <path  d="M12 14.975q-.2 0-.375-.062T11.3 14.7l-4.6-4.6q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l3.9 3.9l3.9-3.9q.275-.275.7-.275t.7.275t.275.7t-.275.7l-4.6 4.6q-.15.15-.325.213t-.375.062"/>
              </svg>
            }
            </span
          >
        </p>
        @if(activeResources.includes(item.id) && item.details ){
          <!-- categorized resources audits  -->
          @if(!item.scoreDisplayMode.includes("notApplicable","manual", "binary")){
          <p ><span>{{item.scoreDisplayMode}} </span><span [style.color]="getColor(item.score * 100)"> {{item.displayValue}}</span></p>
          <ul>
            @for(issue of item.details.items; track issue.id) {
            <!--  -->
            @if(issue){
            <li class="issues">
              <!--  -->
              @if(issue.url){
                <a href="{{ issue.url }}" target="_blank">{{ issue.url }}</a>
              }
              <!--  -->
              @if(issue.node){
                @if(issue.node?.explanation){
                  <p>{{ issue.node?.explanation }}</p>
                }
                  <span>{{ issue.node?.snippet }}</span>
                }
                <!--  -->
              @if(issue.description){
                  <p>{{ issue.description }}</p>
                  <a href="{{ issue.sourceLocation.url }}" target="_blank">{{ issue.sourceLocation.url }}</a>
                }
              <!--  -->
              @if(issue.source){
                <a href="{{ issue.source.url }}" target="_blank">{{ issue.source.url }}</a>
              }
              <!--  -->
              @if(issue.statistic){
                <p>{{issue.statistic}} : {{issue.value.value}}</p>
              }
              <!-- subitems a  -->
              @if(issue.subItems?.items){
                <p>Sub Items: </p>
                  @for(subitem of issue.subItems.items;  track subitem){
                    <li class="sub-issues">
                      @if(subitem.issueType){
                        <p>{{ subitem.issueType }}</p>
                        <a href="{{ subitem.url}}" target="_blank">{{ subitem.url }}</a>
                      }@else if(subitem.reason){
                        <p>{{subitem.reason}}</p>
                      }@else if(subitem.cause){
                        <p>{{ subitem.cause }}</p>
                        <a href="{{ subitem.extra.value}}" target="_blank">{{ subitem.extra.value }}</a>
                      }@else if(subitem.location){
                        <a href="{{ subitem.location.url}}" target="_blank">{{ subitem.location.url }}</a>
                      }@else if(subitem.relatedNode){
                        <span>{{ subitem.relatedNode.snippet}}</span>
                      }
                      @else{
                        <a href="{{ subitem.url}}" target="_blank">{{ subitem.url }}</a>
                      }
                    </li>
                  }
                }

                <!-- subitems 2 -->
                @if(issue.items){
                  <p>Sub Items: </p>
                  @for(subitem of issue.items; track subitem){
                    @if(subitem.node){
                      <li class="sub-issues">
                      <span>{{subitem.node.snippet}} {{subitem.node.selector}}</span>
                      </li>
                    }@else{
                      <li class="sub-issues">
                        <p>Phase - {{subitem.phase}} | Percentage - {{subitem.percent}} | Timing - {{subitem.timing}}</p>
                      </li>
                    }
                  }
                }
            </li>
            }
            }
          </ul>
          }
          
        } }
      </div>
      }
    }
    </div>
  </div>
</div>
}
