<div class="header">
  <div class="logo">
    <h1>
      Web W
      <span class="icon">
        <svg viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M9.75 12a2.25 2.25 0 1 1 4.5 0a2.25 2.25 0 0 1-4.5 0"
          />
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M2 12c0 1.64.425 2.191 1.275 3.296C4.972 17.5 7.818 20 12 20c4.182 0 7.028-2.5 8.725-4.704C21.575 14.192 22 13.639 22 12c0-1.64-.425-2.191-1.275-3.296C19.028 6.5 16.182 4 12 4C7.818 4 4.972 6.5 3.275 8.704C2.425 9.81 2 10.361 2 12m10-3.75a3.75 3.75 0 1 0 0 7.5a3.75 3.75 0 0 0 0-7.5"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      tchers.
    </h1>
  </div>
  <div class="auth">
    <button (click)="toggleAuthModal()">Login | Sign Up</button>
  </div>
  <div class="user_info">
    <button>Dashboard</button>
    <div class="image"></div>
  </div>
</div>

<div class="main">
  <h2>All-in-One platform for Web <span>Analytics</span>.</h2>
  <h3>
    We provide all features that are required to make sure you are in the know
    about everything pertaining to your site.
  </h3>
</div>

<div class="image">
  <img src="../../../assets/images/analytics.png" alt="analytics" />
</div>

<div class="services">
  <h3 class="title">One Platform to <span>Rule Them All</span>.</h3>
  <p class="subtitle">
    We provide all the tools required to manage and monitor all your sites.
  </p>
  <div class="service_list">
    <!-- item -->
    <div class="item">
      <div class="icon">
        <svg class="service_icon" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M15 22.007H5v-2h10ZM22 4l-4.735 5.955l-.22.27l-5.63 7.19a2.001 2.001 0 1 1-2.83-2.83ZM2.645 7.234A10.843 10.843 0 0 0 1.19 15H2v-1a9.685 9.685 0 0 1 1.69-5.52ZM12 2a10.958 10.958 0 0 0-8.119 3.597L5.025 6.96A7.428 7.428 0 0 1 10 5a7.432 7.432 0 0 1 4.997 1.978l3.55-2.802A10.936 10.936 0 0 0 12 2m6.83 9.2l-.233.287l-.728.93A10.118 10.118 0 0 1 18 14v1h4.81a10.879 10.879 0 0 0-1.183-7.318Z"
          />
        </svg>
      </div>
      <h3 class="service_title">Perfomance</h3>
      <p>
        We analyze website speed and responsiveness for improved user experience
        and higher search engine rankings.
      </p>
    </div>

    <!-- item -->
    <div class="item">
      <div class="icon">
        <svg class="service_icon" viewBox="0 0 1024 1024">
          <path
            fill="currentColor"
            d="M866.9 169.9L527.1 54.1C523 52.7 517.5 52 512 52s-11 .7-15.1 2.1L157.1 169.9c-8.3 2.8-15.1 12.4-15.1 21.2v482.4c0 8.8 5.7 20.4 12.6 25.9L499.3 968c3.5 2.7 8 4.1 12.6 4.1s9.2-1.4 12.6-4.1l344.7-268.6c6.9-5.4 12.6-17 12.6-25.9V191.1c.2-8.8-6.6-18.3-14.9-21.2M810 654.3L512 886.5L214 654.3V226.7l298-101.6l298 101.6zM402.9 528.8l-77.5 77.5a8.03 8.03 0 0 0 0 11.3l34 34c3.1 3.1 8.2 3.1 11.3 0l77.5-77.5c55.7 35.1 130.1 28.4 178.6-20.1c56.3-56.3 56.3-147.5 0-203.8c-56.3-56.3-147.5-56.3-203.8 0c-48.5 48.5-55.2 123-20.1 178.6m65.4-133.3c31.3-31.3 82-31.3 113.2 0c31.3 31.3 31.3 82 0 113.2c-31.3 31.3-82 31.3-113.2 0s-31.3-81.9 0-113.2"
          />
        </svg>
      </div>
      <h3 class="service_title">Security Audit</h3>
      <p>
        We assess system vulnerabilities, ensuring robust protection against
        cyber threats and compliance with industry standards.
      </p>
    </div>

    <!-- item -->
    <div class="item">
      <div class="icon">
        <svg class="service_icon" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m0 16H5V5h14z"
          />
          <path
            fill="currentColor"
            d="M7 12h2v5H7zm8-5h2v10h-2zm-4 7h2v3h-2zm0-4h2v2h-2z"
          />
        </svg>
      </div>
      <h3 class="service_title">Analytics</h3>
      <p>
        Gain insights into website traffic, user behavior, and performance to
        optimize marketing strategies effectively.
      </p>
    </div>

    <!-- item -->
    <div class="item">
      <div class="icon">
        <svg class="service_icon" viewBox="0 0 256 256">
          <path
            fill="currentColor"
            d="M216 40H40a16 16 0 0 0-16 16v136a16 16 0 0 0 16 16h16v16a8 8 0 0 0 16 0v-16h112v16a8 8 0 0 0 16 0v-16h16a16 16 0 0 0 16-16V56a16 16 0 0 0-16-16m0 152H40V56h176v64h-16.68a48 48 0 1 0 0 16H216zm-50.16-72a16 16 0 1 0 0 16H183a32 32 0 1 1 0-16Z"
          />
        </svg>
      </div>
      <h3 class="service_title">Password Management</h3>
      <p>
        Securely store, generate, and manage passwords to prevent data breaches
        and ensure user account protection.
      </p>
    </div>
  </div>
  <div class="cta">
    <h3 class="title">Ready to <span>Optimize</span> Your Workflow?</h3>
    <div class="button">
      <button (click)="toggleAuthModal()">Login | Sign Up</button>
    </div>
  </div>
</div>

@if(authModal){
<div class="auth-modal">
  <div class="auth-container">
    <div class="close">
      <span class="close-modal" (click)="toggleAuthModal()">Close</span>
    </div>

    <form (submit)="onFormSubmit($event)" method="post">
      @if(signUp){
      <input
        type="text"
        name="user-name"
        id="user-name"
        placeholder="Full Name"
        required
        #name
      />
      }
      <input
        type="email"
        [name]="emailInput"
        [id]="emailInput"
        placeholder="example@email.com"
        required
        #mail
      />
      <input
        type="password"
        [name]="passwordInput"
        [id]="passwordInput"
        placeholder="password"
        required
        #pass
      />
      <div class="submit">
        @if(signUp){
        <input type="submit" [value]="buttonValue" />
        }@else{
        <input type="submit" [value]="buttonValue" />
        }
      </div>

      @if(signUp){
      <p>
        Already have an account? <span (click)="toggleSignUp()">Login</span>
      </p>
      } @else {
      <p>
        Don't have an account yet? <span (click)="toggleSignUp()">Sign Up</span>
      </p>
      }
    </form>
  </div>
</div>

}

<div class="footer">
  <p>{{ currentYear }} &copy; All Rights Reserved | WebWatchers</p>
</div>
