.header {
  width: 100%;
  padding: 3vw 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    h1 {
      color: #000;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 1.5vw;
      .icon {
        color: #7456e4;
        display: flex;
        align-items: center;
        svg {
          width: 2vw;
        }
      }
    }
  }

  .auth {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      padding: 0.5vw 1vw;
      outline: none;
      border-radius: 0.2vw;
      border: 0.1vw solid #7456e4;
      background-color: #7456e4;
      color: #fff;
      cursor: pointer;
    }
  }

  .user_info {
    display: none;
  }
}
