// font import
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Martel Sans", sans-serif;
  font-size: 0.8vw;
}

@keyframes run {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  &::-webkit-scrollbar {
    display: none;
    cursor: pointer;
    width: 0.4vw;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 0.5vw;
    background-color: #7456e4;
    outline: none;
  }
}
