.main {
    width: 100%;
    padding: 5vw 10vw 10vw 10vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #171d28;

    h2 {
        color: #fff;
        font-size: 3vw;
        padding: 0 15vw;
        text-align: center;
        line-height: 4vw;
        margin-bottom: 1vw;

        span {
            font-size: 3vw;
            color: #7456e4;
        }
    }

    h3 {
        color: #fff;
        text-align: center;
        font-weight: 500;
        font-size: 1.2vw;
        padding: 0 20vw;
        margin-bottom: 3vw;
    }
}

.check {
    width: 100%;
    display: grid;
    place-items: center;

    .field {
        width: 50%;
        padding: 5vw;
        background-color: #fff;
        box-shadow: 0 0 7vw 0vw #171d2842;
        margin-top: -7vw;
        border-radius: 0.5vw;

        .domain_input {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        input {
            width: 70%;
            padding: 0.6vw 2vw;
            border: 0.1vw solid #171d287c;
            outline: none;
            appearance: none;
            border-radius: 0.3vw 0 0 0.3vw;
            font-size: 0.9vw;
            color: #171d28bd;
        }

        button {
            width: 30%;
            padding: 0.71vw 2vw;
            border: 0.1vw solid #7456e4;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 0.3vw 0.3vw 0;
            cursor: pointer;
            background-color: #7456e4;
            color: #fff;
            font-size: 0.9vw;
            font-weight: 600;

            span {
                display: grid;
                place-items: center;
                margin: 0 0.2vw;

                svg {
                    width: 1vw;
                    animation: run 1s infinite;
                }
            }
        }
    }
}

.container {
    width: 10vw;
    height: 10vw;
    position: relative;
    display: grid;
    place-items: center;

    round-progress {
        width: 100% !important;
    }

    span {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

.results {
    width: 100%;
    padding: 5vw 15vw 15vw 15vw;
    height: auto;

    .title {
        width: 100%;
        margin-bottom: 1vw;
        

        .overall {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .progress-div {
                width: 45%;
                padding: 0 3vw;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
        
                .progress-circle {
                  position: relative;
                  width: 7vw;
                  height: 7vw;
                  border-radius: 50%;
                  background-color: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  overflow: hidden;
        
                  .progress-circle__value {
                    --primary-color: rgb(51, 194, 51);
                    --secondary-color: #eeeeee;
                    --value: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    clip-path: circle(50%);
                    background: conic-gradient(var(--primary-color) calc(var(--value) * 3.6deg),
                        var(--secondary-color) calc(var(--value) * 3.6deg));
                  }
        
                  .cover {
                    width: 87%;
                    height: 87%;
                    clip-path: circle(50%);
                    z-index: 2;
                    background-color: #fff;
                    position: absolute;
                    display: grid;
                    place-items: center;
        
                    .progress-circle__text {
                      position: absolute;
                      font-family: "JetBrains Mono", monospace;
                      font-size: 1.3vw;
                      font-weight: 500;
                    }
                  }
                }
        
                .progress-title {
                  width: 100%;
                  display: grid;
                  place-items: center;
        
                  .title {
                    width: 100%;
                    text-align: right;
                    margin-top: 1vw;
                    font-size: 1vw;
                  }
                }
            }
    
            .user-data {
                width: 45%;
                padding: 0 3vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                border-left: 0.2vw solid #eeeeee;
                .image {
                    width: 7vw;
                    height: 7vw;
                    border: 0.45vw solid #eeeeee;
                    border-radius: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .identification {
                    text-align: center;
                    margin-top: 1vw;
                    margin-bottom: 1vw;
                    h3, span, a{
                        font-size: 1vw;
                        font-weight: 500;
                        text-align: left;
                    }
                    a {
                        color: #7456e4;
                        cursor: pointer;
                        text-decoration: none;

                    }
                   
                }
            }
        }

        
    }

    .tabs {
        width: 100%;
        margin-bottom: 1vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        ul {
            width: 100%;
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: flex-start;

            li {
                margin: 0.5vw 1vw 0.5vw 0;
                border-radius: 0.3vw;
                border: 0.15vw solid #171d284d;
                outline: none;
                padding: 0.4vw 1.5vw;
                background-color: #fff;
                font-size: 0.9vw;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;

                &.active,
                &:hover {
                    background-color: #7456e4;
                    color: #fff;
                    border-color: #7456e4;
                }
            }
        }
    }


    .critical,
    .optional {
        width: 100%;
        margin-bottom: 2vw;

        .section-title {
            font-size: 1.2vw;
            margin-bottom: 1vw;
        }

        .items, .quality-dependency {
            width: 100%;
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            flex-wrap: wrap;

            .item {
                width: 100%;
                margin-right: 1%;
                margin-bottom: 0.7vw;
                border: 0.15vw solid #171d281f;
                border-radius: 0.5vw;
                padding: 2vw 1vw;

                .information {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .progress-div {
                        width: auto;
                        padding: 0 1vw;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                
                        .progress-circle {
                          position: relative;
                          width: 3.5vw;
                          height: 3.5vw;
                          border-radius: 50%;
                          background-color: #fff;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          overflow: hidden;
                
                          .progress-circle__value {
                            --primary-color: rgb(51, 194, 51);
                            --secondary-color: #eeeeee;
                            --value: 0;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            clip-path: circle(50%);
                            background: conic-gradient(var(--primary-color) calc(var(--value) * 3.6deg),
                                var(--secondary-color) calc(var(--value) * 3.6deg));
                          }
                
                          .cover {
                            width: 87%;
                            height: 87%;
                            clip-path: circle(50%);
                            z-index: 2;
                            background-color: #fff;
                            position: absolute;
                            display: grid;
                            place-items: center;
                
                            .progress-circle__text {
                              position: absolute;
                              font-family: "JetBrains Mono", monospace;
                              font-size: 0.8vw;
                              font-weight: 600;
                            }
                          }
                        }
                
                        .progress-title {
                          width: 100%;
                          display: grid;
                          place-items: center;
                
                          .title {
                            width: 100%;
                            text-align: right;
                            margin-top: 1vw;
                            font-size: 1vw;
                          }
                        }
                    }
                    .category {
                        font-weight: 600;
                        font-size: 1vw;
                        margin-bottom: 0.2vw;
                        h3 {
                            font-size: 1vw;
                            color: #7456e4;
                        }

                        p {
                            font-weight: 500;
                        }
                    }
                }

                .details {
                    display: flex;
                    align-items: stretch;
                    justify-content: flex-start;
                    padding: 0 3vw ;

                    ul {
                        margin: 1vw 0;
                        list-style: none;

                        &.criteria {
                            width: 30%;
                        }

                        &.recommendations {
                            border-left: 0.15vw solid #171d281f;
                            padding-left: 3vw;
                        }

                        span {
                            font-size: 0.85vw;
                            font-weight: 600;
                            color: #7456e4;
                        }

                        li {
                            margin: 0.3vw 0;
                            padding-left: 1.5vw;
                            font-size: 0.8vw;
                            font-weight: 500;
                            color: #171d28;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            text-transform: capitalize;

                            a {
                                color: #7456e4;
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            svg {
                                width: 1vw;
                                height: 1vw;
                                margin-right: 1vw;

                                &.fail {
                                    color: red;
                                }

                                &.success {
                                    color: #17b14a;
                                }
                            }
                        }
                    }
                }
            }
        }

        .commits-ipr-languages {
            width: 100%;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
                width: 32.3%;
                margin-right: 1%;
                margin-bottom: 0.7vw;
                border: 0.15vw solid #171d281f;
                border-radius: 0.5vw;
                padding: 1.5vw 1vw 1vw 1vw;

                .information {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .progress-div {
                        width: auto;
                        padding: 0 1vw;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                
                        .progress-circle {
                          position: relative;
                          width: 2vw;
                          height: 2vw;
                          border-radius: 50%;
                          background-color: #fff;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          overflow: hidden;
                
                          .progress-circle__value {
                            --primary-color: rgb(51, 194, 51);
                            --secondary-color: #eeeeee;
                            --value: 0;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            clip-path: circle(50%);
                            background: conic-gradient(var(--primary-color) calc(var(--value) * 3.6deg),
                                var(--secondary-color) calc(var(--value) * 3.6deg));
                          }
                
                          .cover {
                            width: 87%;
                            height: 87%;
                            clip-path: circle(50%);
                            z-index: 2;
                            background-color: #fff;
                            position: absolute;
                            display: grid;
                            place-items: center;
                
                            .progress-circle__text {
                              position: absolute;
                              font-family: "JetBrains Mono", monospace;
                              font-size: 0.6vw;
                              font-weight: 600;
                            }
                          }
                        }
            
                    }
                    .category {
                        font-weight: 600;
                        font-size: 1vw;
                        margin-bottom: -0.2vw;
                        h3 {
                            font-size: 1vw;
                            color: #7456e4;
                        }

                        p {
                            font-weight: 500;
                        }
                    }
                }

                .numbers-details {
                    display: flex;
                    align-items: stretch;
                    justify-content: flex-start;
                    width: 100%;
                    padding: 0 1vw ;

                    ul {
                        margin: 1vw 0;
                        list-style: none;
                        width: 100%;
                        &.criteria{
                            width: 100%;
                            li {
                                margin: 0.2vw .5vw 0.3vw 0.5vw;
                                font-size: 0.8vw;
                                font-weight: 500;
                                color: #171d28;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                text-transform: capitalize;
                                a {
                                    color: #7456e4;
                                    text-decoration: none;
    
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
    
                                svg {
                                    width: 1vw;
                                    height: 1vw;
                                    margin-right: 1vw;
    
                                    &.fail {
                                        color: red;
                                    }
    
                                    &.success {
                                        color: #17b14a;
                                    }
                                }
                            }
                            .total{
                                width: 100%;
                                height: 0.5vw;
                                border-radius: 0.1vw;
                                overflow: hidden;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                margin-bottom: 1vw;
                                .language{
                                    height:100%;
                                }
                            }

                            .language-distribution {
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                justify-content: flex-start;
                                flex-wrap: wrap;
                                margin-left: 0.5vw;
                                .language-data {
                                    margin: 0.2vw 0;
                                    font-size: 0.8vw;
                                    font-weight: 500;
                                    color: #171d28;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    text-transform: capitalize;
                                    width: 50%;
                                    .dot {
                                        width: 0.6vw;
                                        height: 0.6vw;
                                        border-radius: 50%;
                                        margin-right: 0.5vw;
                                        margin-top: -0.1vw;
                                    }
                                    
                                }
                            }
                            
                        }
                       
                    }
                }
            }
        }

        .contributor-analysis {
            width: 100%;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
            .left {
                width: 49%;
                margin-right: 1%;
                margin-bottom: 0.7vw;
                border: 0.15vw solid #171d281f;
                border-radius: 0.5vw;
                padding: 1.5vw 1vw 1vw 1vw;

                .information {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .progress-div {
                        width: auto;
                        padding: 0 1vw;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                
                        .progress-circle {
                          position: relative;
                          width: 2vw;
                          height: 2vw;
                          border-radius: 50%;
                          background-color: #fff;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          overflow: hidden;
                
                          .progress-circle__value {
                            --primary-color: rgb(51, 194, 51);
                            --secondary-color: #eeeeee;
                            --value: 0;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            clip-path: circle(50%);
                            background: conic-gradient(var(--primary-color) calc(var(--value) * 3.6deg),
                                var(--secondary-color) calc(var(--value) * 3.6deg));
                          }
                
                          .cover {
                            width: 87%;
                            height: 87%;
                            clip-path: circle(50%);
                            z-index: 2;
                            background-color: #fff;
                            position: absolute;
                            display: grid;
                            place-items: center;
                
                            .progress-circle__text {
                              position: absolute;
                              font-family: "JetBrains Mono", monospace;
                              font-size: 0.6vw;
                              font-weight: 600;
                            }
                          }
                        }
            
                    }
                    .category {
                        font-weight: 600;
                        font-size: 1vw;
                        margin-bottom: -0.2vw;
                        h3 {
                            font-size: 1vw;
                            color: #7456e4;
                        }

                        p {
                            font-weight: 500;
                        }
                    }
                }

                .numbers-details {
                    display: flex;
                    align-items: stretch;
                    justify-content: flex-start;
                    width: 100%;
                    padding: 0 1vw ;

                    ul {
                        margin: 1vw 0;
                        list-style: none;
                        width: 100%;
                        &.criteria{
                            width: 100%;
                            li {
                                margin: 0.3vw 0.5vw;
                                font-size: 0.8vw;
                                font-weight: 500;
                                width: 100%;
                                color: #171d28;
                                .headline{
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    a {
                                        color: #7456e4;
                                        text-decoration: none;
        
                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
        
                                    svg {
                                        width: 1vw;
                                        height: 1vw;
                                        margin-right: 0.5vw;
                                        margin-top: -0.1vw;
        
                                        &.fail {
                                            color: red;
                                        }
        
                                        &.success {
                                            color: #17b14a;
                                        }
                                    }
                                }

                                .top_contributors{
                                    width: 100%;
                                    display: flex;
                                    align-items: flex-start;
                                    justify-content: flex-start;
                                    flex-wrap: wrap;
                                    padding: 1vw 0 0 2vw;

                                    .user {
                                        margin-right: 2vw;
                                        border-radius: 50%;
                                        margin-bottom: 1vw;
                                        width: 42.5%;
                                        background-position: center;
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        a {
                                            text-decoration: none;
                                            color: #171d28;
                                            display: flex;
                                            align-items: center;
                                            justify-content: flex-start;
                                            .image{
                                                width: 2.5vw;
                                                height: 2.5vw;
                                                aspect-ratio: 1/1;
                                                border-radius: 50%;
                                                border: #9377f8 0.2vw solid;
                                                background-position: center;
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                                margin-right: 0.5vw;
                                                img {
                                                    width: 100%;
                                                    height: 100%;
                                                    border-radius: 50%;
                                                }
                                            } 

                                            .user-details {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: flex-start;
                                                justify-content: center;
                                                p{
                                                    font-size: 0.7vw;
                                                    margin: -0.15vw 0;
                                                }
                                                .username {
                                                    font-size: 0.7vw;
                                                    color: #7456e4;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }
                       
                    }
                }
            }
            .right{
                width: 49%;
                margin-right: 1%;
                margin-bottom: 0.7vw;
                border: 0.15vw solid #171d281f;
                border-radius: 0.5vw;
                padding: 1.5vw 1vw 1vw 1vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                
                .information {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                   
                    .category {
                        font-weight: 600;
                        font-size: 1vw;
                        margin-bottom: -0.2vw;
                        padding-left: 1vw;
                        h3 {
                            font-size: 1vw;
                            color: #7456e4;
                        }

                        p {
                            font-weight: 500;
                        }
                    }
                }

                .bar-graph{
                    width: 100%;
                    padding: 2vw;
                    height: inherit;
                    position:relative;
                    display: flex;
                    flex-direction: column;
                    align-self: flex-start;
                    justify-content: space-evenly;
                    // overflow: hidden;

                    .graph-title {
                        width: 100%;
                        span {
                            display: inline-block;
                            width: 100%;
                            text-align: center;
                            font-size: 0.7vw;
                        }
                    }
                 
                    .chart {
                        border: 0.15vw solid #171d281f;
                        border-width: 0.0 0 0.15vw 0.15vw ;
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-start;
                        position: relative;
                        width: inherit;
                        height: 12.5vw;
                        .lines {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            bottom: 0;
                            display: flex;
                            flex-direction: column-reverse;
                            // align-items: flex-start;
                            // justify-content: flex-start;
                            .line{
                                height: 2vw;
                                border: 0.1vw solid #171d281f;
                                border-width: 0.1vw 0 0 0 ;
                                p {
                                    font-size: 0.7vw;
                                    color: #171d28;
                                    margin-left: -1.5vw;
                                    margin-top: -0.5vw;
                                }
                            }
                            
                        }
                        
                        .commits {
                            width: 15%;
                            margin: 0 1vw ;
                            position: relative;
                            z-index: 2;
                            .bar{
                                position: absolute;
                                width: 100%;
                                bottom: 0;
                                background-color: #7456e4;
                                .user{
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: space-between;
                                    cursor: pointer;
                                    &:hover + .numbers {
                                        display: grid;
                                      }
                                    .image {
                                        width: 2vw;
                                        height: 2vw;
                                        border-radius: 50%;
                                        margin-top: -1vw;
                                        border: #9377f8 0.2vw solid;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 50%;
                                        }
                                    }
                                    .user-details{
                                       
                                        margin-bottom: -2.2vw;
                                        // color: #fff;
                                        p {
                                            font-size: 0.7vw;
                                        }
                                    }
                                }
                                .numbers {
                                    position: absolute;
                                    width: 7vw;
                                    height: auto;
                                    padding: 0.5vw;
                                    margin-top: -3vw;
                                    border-radius: 0.3vw;
                                    top: -1vw;
                                    left: 3vw;
                                    display: grid;
                                    place-items: center;
                                    z-index: 5;
                                    background-image: linear-gradient(to bottom right, #7456e4, #917add, #7456e4 );
                                    display: none;
                                    p {
                                        color: #fff;
                                        font-size: 0.7vw;
                                        line-height: 1vw;
                                    }
                                }
                            }
                          
                        }
                    }
                }

            }
        }
    }
}